*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px */
}
::selection {
  color: white;
}

body {
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url('https://alexejklass.github.io/dottaghedestroyer/img/galaxy.jpg');
  background-size: 100% 100%;
}

.ship {
  background-color: rgba(0, 60, 255, 0);
  border-radius: 100px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  padding-bottom: 10px;
  cursor: pointer;
}

.fighter {
  width: 12rem;
  height: 12rem;
}

.laser {
  position: absolute;
  left: 50%;
  top: -15%;
  width: 60px;
  height: 60px;
  transform: translate(-17%, 0);
  display: inline-block;
  font-size: 20px;
}
.asteroid {
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  padding-bottom: 10px;
}

.counter {
  position: absolute;
  display: inline-block;
  font-size: 6rem;
  color: greenyellow;
  top: 20px;
  right: 26px;
  font-weight: bold;
}
.stop {
  position: absolute;
  display: inline-block;
  font-size: 2rem;
  font-family: Calibri, sans-serif;
  font-weight: bold;
  color: greenyellow;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
.stop:hover {
  color: rgb(255, 47, 116);
}
.space {
  position: absolute;
  display: inline-block;
  font-size: 2rem;
  font-family: Calibri, sans-serif;
  font-weight: bold;
  color: greenyellow;
  top: 20px;
  left: 100px;
  cursor: pointer;
}
.space:hover {
  color: rgb(255, 47, 116);
}
.mars {
  position: absolute;
  display: inline-block;
  font-size: 2rem;
  font-family: Calibri, sans-serif;
  font-weight: bold;
  color: greenyellow;
  top: 20px;
  left: 180px;
  cursor: pointer;
}
.mars:hover {
  color: rgb(255, 47, 116);
}
.earth {
  position: absolute;
  display: inline-block;
  font-size: 2rem;
  font-family: Calibri, sans-serif;
  font-weight: bold;
  color: greenyellow;
  top: 20px;
  left: 240px;
  cursor: pointer;
}
.earth:hover {
  color: rgb(255, 47, 116);
}

.gameover {
  font-family: Calibri, sans-serif;
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 2px #e5ff00;
  cursor: pointer;
  width: 30vw;
  height: 30vh;
  background-color: rgba(0, 110, 255, 0.657);
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: center;
  transition: all 0.01s linear;
  font-size: 6rem;
  z-index: 100;
  color: rgb(79, 219, 24);
  transition: all 0.2s ease-in;
  border: 20px solid rgba(0, 255, 34, 0.657);
  text-align: center;
  padding-top: 1rem;
  transition: all 0.3s ease-in;
}
.gameover:hover {
  border: 20px solid rgb(37, 24, 219);
}
.play {
  position: absolute;
  top: 50%;
  transition: all 0.5s ease-in;
  color: rgba(245, 42, 42, 0.822);
}

.gameover:hover .play {
  color: rgba(238, 14, 14, 0.863);
  font-size: 7rem;
  cursor: pointer;
}

.lives {
  position: absolute;
  display: inline-block;
  right: 100px;
  top: 20px;
  font-size: 4rem;
}

@media only screen and (max-width: 700px) {
  .gameover {
    width: 70%;
    height: 20%;
    background-color: rgba(255, 38, 0, 0.657);
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.01s linear;
    font-size: 2rem;
    z-index: 100;
    color: rgb(24, 53, 219);
    transition: all 0.5s ease-in;
  }
}
